# allow bigger upload
php_value upload_max_filesize 150M
php_value post_max_size 150M
php_value max_input_time 300
php_value max_execution_time 300
<IfModule mod_negotiation.c>
    # content negogiations do strange things with /myfile > /myfile.php
    Options -MultiViews
</IfModule>
AddDefaultCharset UTF-8
# Do not gzip for report line by line
SetEnvIfNoCase Request_URI working no-gzip dont-vary
<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule ^index\.php$ - [QSA,L,B]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.php [QSA,L,B]
</IfModule>
